.app {
  height: 100vh;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logoBox {
  text-align: center;
  background-color: rgb(251, 76, 57);
}
.logo {
  height: 80px;
  animation-name: logo;
  animation-duration: 0.226s;
}
@keyframes logo {
  from {height: 200px;}
  to {height: 80px;}
}
.logo2 {
  animation-name: logo2;
  animation-duration: 0.224s;
}
@keyframes logo2 {
  from {height: 80px;}
  to {height: 200px;}
}

.signout {
  display: flex;
  justify-content: flex-end;
}