.login{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginCard{
    box-shadow: 0 6px 16px -8px #00000014, 
    0 9px 28px #0000000d, 
    0 12px 48px 16px #00000008;
    width: 30vw;
}