.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.card {
  box-shadow: 0 6px 16px -8px #00000014, 0 9px 28px #0000000d,
    0 12px 48px 16px #00000008;
  width: 45vw;
  max-height: 70vh;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.card::-webkit-scrollbar {
  display: none;
}

.button {
    margin-top: 10px;
    margin-left: 10px;
    float: right;
}

.hide {
  -webkit-text-security: disc;
  text-align: left;
}

.show {
  text-align: left;
}

.row {
  text-align: left;
}

.add {
  width: 100%;
}

.title{
  text-align: center;
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}